/* Color
   ========================================================================== */

$color-primary: #D91F27;
$color-body: #000;
$color-background: #9F9F9F;

/* Font
   ========================================================================== */

$font-family-base: "Montserrat", sans-serif;
$font-size-base: 16px;
$font-weight-base: 400;
